.error, .success {
    margin: 1em 0;
}

.error {
    color: red;
}

.success {
    color: green;
}

#logo {
    display: block;
    height: 16px;
    margin: 0 5px;
    background: url(http://www.softalent.com/shared/softalent-16px.png) no-repeat center right;
}

#idleNote {
    font-size: 14px;
    text-align: center;
    margin: 5px;
    padding: 40px 20px 40px 70px;
    background: url(../img/clock.png) no-repeat center left;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:45%;
    top:10px;
    width:250px;
    z-index:20000;
}

/****** SEXY TOOLTIP *********/
.tooltip-wrapper {
    position: absolute;
    left: 45%;
    top: 0;
    min-width: 250px;
    z-index: 20000;
    display: none;
}

    .tooltip-wrapper img { position: absolute; top: 3px; left: 0; }
    .tooltip-wrapper .close-img{ position: absolute; top: 6px; right: 21px; cursor: pointer; }

    .tooltip-wrapper .tooltip {
        border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        font-family: Calibri, Tahoma, Geneva, sans-serif;
        min-width: 200px;
        max-width: 500px;
        padding: 5px 25px 5px 30px;
        min-height: 40px;
        margin: 3px 0 0 24px;
    }

        .tooltip-wrapper .tooltip em {
            font-family: Candara, Tahoma, Geneva, sans-serif;
            font-size: 1.2em;
            font-weight: bold;
            display: block;
            font-style: italic;
        }

        #tooltip-invalid-fields {
            display: none;
            font-size: 14px;
            padding: 10px 0 0 10px;
            color: #7a4242;
            line-height: 23px;
        }
            #tooltip-invalid-fields span { font-weight: bold; }

        .tooltip-details {
            display: block;
            float: right;
            color: #AA1111;
            font-size: 12px;
        }

    .classic {background: #FFFFAA; border: 1px solid #FFAD33; }
    .critical { background: #FFCCAA; border: 1px solid #FF3334;	}
    .help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
    .info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
    .warning { background: #FFFFAA; border: 1px solid #FFAD33; }

* + html #IaOrgMainPanel .x-panel-body  {position: relative}
* + html #IaOrgMainPanel .x-tab-panel-body {position: relative}

.custom_image { width: 150px; position: relative; }
    .custom_image img { max-height: 150px; max-width: 150px; }
    .custom_image a {
        position: absolute;
        top: 3px;
        width: 16px;
        height: 16px;
        visibility: hidden;
        display: block;
        text-decoration: none;
    }

    .custom_image a.remove_pic {
        display: none;
        left: 22px;
        background: url('../ext/resources/images/default/shared/icons/fam/picture_delete.png') no-repeat center;
    }

    .custom_image a.change_pic {
        left: 3px;
        background: url('../ext/resources/images/default/shared/icons/fam/picture_edit.png') no-repeat center;
    }

    .custom_image a:hover, .custom_image:hover a { visibility: visible; }

.visitor-photo-box { float: left; width: 150px; }
    .visitor-photo-box img { max-width: 50px; max-height: 50px; display: none; float: left; }
    .visitor-photo-box a { display: block; float: right; font-size: 15px; padding: 10px 0 0; }